* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
body{
    width: 100vw;
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,83,121,1) 52%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.d{
    width: 400px;
    height: 550px;
    background-color:rgb(239, 245, 247); 
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
   
  }

.main{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    
}

h1{
    background-color: rgb(90, 7, 7);
    color: blanchedalmond;
    width: 400px;
    height: 60px;
    padding-top: 10px;
    text-align: center; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
P{
    margin-top: 15px;
    padding-left: 20px;
    font-size: 21px;
}
input{
    height: 25px;
    width: 300px;
    margin-top: 20px;
    font-size: 17px;
   
   }
select{
    height: 40px;
    width: 300px;
    margin-top: 10px;
    font-size: 25px;
    
} 
button{
    background-color: rgb(90, 7, 7);
    color: blanchedalmond;
    font-size: 20px;
    border-radius: 7px;
    height: 35px;
    width: 200px;
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  
h2{
    align-self: center;  
    font-size: 25px;
}
span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    align-self: center;
}
.center{
    align-self: center;  
    font-size: 25px;
}